.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.modal-overlay.show {
  opacity: 1;
}

.modal-overlay.hide {
  opacity: 0;
}

.modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 90%;
  width: 27rem;
  height: auto;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: start;
  transition: transform 0.3s ease-in-out;
  transform: scale(0.9);
}

.modal-overlay.show .modal-content {
  transform: scale(1);
}

.header-modal {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.experience-studys {
  display: flex;
  flex-direction: column;
}

.img-modal {
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-right: 1rem;
}

.close-button {
  background: transparent;
  border: none;
}