.location-image img{
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
}

.location-card{
    display: flex;
    justify-content: center;
}

@media (max-width: 431px) {
    .location-card {
        width: 70%;
    }
}