footer {
  background-color: rgb(112, 178, 46);
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 245);
}