.title-welcome {
    text-align: center;
    color: #0fa0ba;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.main-title {
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    font-size: 40px;
    color: #36a900;
}

.line {
    width: 100%;
    /* Ancho de la línea */
    border: 0;
    height: 1px;
    background-color: rgb(132, 134, 136);
    /* Color de la línea */
    margin-top: 1.5rem;
}

.line2 {
    width: 100%;
    /* Ancho de la línea */
    border: 0;
    height: 1px;
    background-color: rgb(132, 134, 136);
    /* Color de la línea */
    margin-top: 4rem;
}

.line1{
    width: 32%;
    border: 0;
    height: 1px;
    background-color: rgb(132, 134, 136);
    margin-top: 3px ;
}

.main-container {

    display: flex;
    
    align-items: center;
    padding: 10px;

}
.search-bar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25rem; 
    margin-left: 5rem;
    margin-top: 2rem;
   
  }
  
  .search-bar::placeholder {
    color: #888; /* Color del texto del placeholder */
  }

  .img-biblioteca{
    display: flex;
    justify-content: space-around;
}
.imgb{
    width: 40%;
    height: 20rem;
}
.location-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.text-location{
    padding-left: 4rem;
    font-size: 20px;
    color: rgb(132, 134, 136);
}

@media (max-width: 431px) {
    .title-welcome {
        font-size: 1rem;
        padding: 1rem;
    }

    .main-title {
        font-size: 1.5em;
        padding: 2rem;
        text-align: center;
    }

    .line1 {
        width: 100%;
        border: 0;
        height: 1px;
        background-color: rgb(132, 134, 136);
        margin-top: 3px ;
    }

    .location-home {
        width: 100vw;
        flex-direction: column;
        float: left;
    }

    .text-location {
        font-size: 16px;
        padding: 1rem;
        text-align: center;
    }
}