.card-list-courses {
  display: flex;
  flex-wrap: wrap;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  gap: 6rem;
  align-content: center;
  justify-content: center;
}

.filter-buttons {
  display: flex;
  justify-content: center; 
  gap: 1rem;
  padding-top: 2rem;
}

.filter-buttons button {
  padding: 0.5rem 1rem;
  background-color: #ddd;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: calibri;
}

.filter-buttons button:hover,
.filter-buttons button:active {
  background-color: #00aa03;
  color: white;
}
