.card {
  background-color: rgb(255, 255, 255);
  width: 18rem;
  height: 20rem;
  border-radius: 1rem;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card > img {
  border-radius: 50%;
  width: 70%;
  height: auto;
}

.card > h2 {
  text-align: center;
  font-family: calibri;
  font-size: 35px;
  color: #00aa03;
}

.card > h3 {
  text-align: center;
  font-family: calibri;  
  font-size: 20px;
  color: #22252a;
  margin-top: 10px;
  padding-bottom: 10px;
}

.card > h4 {
  text-align: center;
  font-family: calibri;  font-size: medium;
  color: rgb(136, 136, 136);
  margin-left: 1rem;
  margin-right: 1rem;
}

.card > a {
  margin-bottom: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  color: rgb(136, 136, 136);
  padding: 0.5rem;
  border-style: none;
  border-radius: 1rem;
  width: 75%;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease; /* Añade una transición suave */
}

.card > a:hover {
  color: #00aa03; /* Color en hover */
}



